:root {
  --heading-3-font-family: "Archivo Black", Helvetica;
  --heading-3-font-weight: 400;
  --heading-3-font-size: 40px;
  --heading-3-letter-spacing: -0.4px;
  --heading-3-line-height: 120.00000476837158%;
  --heading-3-font-style: normal;
  --heading-1-font-family: "Archivo Black", Helvetica;
  --heading-1-font-weight: 400;
  --heading-1-font-size: 120px;
  --heading-1-letter-spacing: -7.2px;
  --heading-1-line-height: 50%;
  --heading-1-font-style: normal;
  --link-font-family: "Archivo Black", Helvetica;
  --link-font-weight: 400;
  --link-font-size: 30px;
  --link-letter-spacing: -0.3px;
  --link-line-height: 120.00000476837158%;
  --link-font-style: normal;
}
